<form ng-submit="accountCtrl.login()">
    <label>Username:</label>
    <input type="text" ng-model="account.name"/>
    <br>
    <label>Password:</label>
    <input type="text" ng-model="account.password"/>
    <br>
    <button type="submit">Login</button>
</form>

<br>
<p>test1</p>
<br>
<p>{{accountCtrl.wiadomosc}}</p>

<!--<div>-->
    <!--First Name: <input type="text" ng-model="homeCtrl.firstName" /><br/>-->
    <!--Last Name: <input type="text" ng-model="homeCtrl.lastName" /><br/>-->
    <!--Hello: {{homeCtrl.firstName}} {{homeCtrl.lastName}}<br/>-->
    <!--Info: {{homeCtrl.informacja}} <br/>-->
    <!--<Br/>-->
    <!--<button ng-click="homeCtrl.onReset()" >Reset</button>-->
    <!--&lt;!&ndash;<button ng-click="homeCtrl.triggerChange()" >Trigger Change</button>&ndash;&gt;-->
<!--</div>-->
